@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'global';
@import 'home';
@import 'projects';
@import 'services';

#content {
	@include outer-container;
	@include clearfix;
	
	p { font-weight: 300; }
	
	@include media($tablet) {
		padding: 0;
	}
	
	#content-meta {
		list-style: none;
		padding: 0;
		position: relative;
		z-index: 10;
		margin-bottom: 1.5em;
				
		h3 { 
			border-bottom: 2px solid #ddd;
			margin-bottom: 1.33em;
		}
		
		@include media($tablet) {
			text-align: right;
			@include span-columns(4);
		}
	}
	#content-body {
		position: relative;
		z-index: 9;
		
		a { 
			color: $brand;
			&:hover, &:focus { color: $gray; }
		}
		
		p:nth-child(2) {
			font-size: 1.5em;
			line-height: 1.25em;
			font-weight: 400;
			color: #000;
			
			@include media($tablet) {
				font-size: 2em;
				line-height: 1.25em;
				margin-bottom: 0.75em;
			}
		}
		
		@include media($tablet) {
			@include span-columns(8);
			img {
				max-width: 772px;
				margin: 0 -28px;
			}
		}
	}
}