@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'global';
@import 'home';
@import 'projects';
@import 'services';

#content {
	@include outer-container;
	padding-bottom: 6em;
	
	p { font-weight: 300; }
	p:nth-child(2) {
		font-size: 2em;
		line-height: 1.25em;
		font-weight: 400;
		color: #000;
		margin-bottom: 0.75em;
	}
	
	#content-meta {
		@include span-columns(3);
		@include shift(1);
		
		text-align: right;
		list-style: none;
		padding: 0;
		margin-top: 4em;
	}
	#content-body {
		@include span-columns(8);
		
		h3 { border-bottom: 2px solid $brand; }
	}
}